@page "/account/register/success"

@inherits BaseComponent

<PageContent Title="Bitte bestätigen Sie Ihre Email-Adresse" Page="this">
    <h4>Wir haben Ihnen soeben einen Bestätigungslink an Ihre Email-Adresse gesendet. Bitte klicken Sie auf den Link, um Ihr Benutzerkonto freizuschalten.</h4>
</PageContent>